 :root{
    --cor-cinza:#f9f9f9;
 }

 

 .container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: ;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 
 .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;
        align-items: stretch; /* força os cards a ocuparem mesma altura */
        background-color: var(--cor-cinza);
        padding: 20px;
        border-radius: 0px 0px 10px 10px;

      }




      .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
        background-color: white;
        height: 100%;          
        min-height: 220px;    
        display: flex;       
        flex-direction: column;
        justify-content: space-between; 
        transform: translateY(0.9px);
      }

.titulo-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  height: 100px; 
  background-color: var(--cor-cinza);
  padding: 10px;
}

.titulo-card h5 {
  margin-top: auto;   
  text-align: center; 
  font-weight: bold;
}

      .card img {
        display: block;
        margin: 0 auto 10px auto;
        width: 50px;
      }

      .card a {
        color: blue;
        font-weight: bold;
        text-decoration: none;
      }

      .card a:hover {
        text-decoration: underline;
      }


     
 .profile-card {
  display: flex;
  align-items: center;
  background: var(--cor-cinza);
  padding: 10px 15px;
  border-radius: 10px 10px 0px 0px;
  max-width: 100%;
  gap: 15px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  flex: 1; /* ocupa todo o espaço do meio */
}

.profile-info h3 {
  margin: 0;
  font-size: 1rem;
}

.profile-info .role {
  margin: 2px 0 8px;
  font-size: 0.85rem;
  color: gray;
}

.level {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}

.progress {
  flex: 1;
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;

}

.progress-fill {
  width: 40%; 
  height: 100%;
  background: #DC4405;
}

.coins {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  
}

.coins::before {
  content: "";
  display: inline-block;
  width: 24px;               
  height: 24px;              
  background-image: url("../../components/icons/points_icon.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;    
  margin-right: 5px;
}

@media (max-width: 992px) {
        .grid-container {
          grid-template-columns: repeat(3, 1fr);
        }
      }

        @media (max-width: 585px) {
        .grid-container {
          grid-template-columns: repeat(2, 1fr);
        }
 }

 @media (max-width: 901px) {
       body{
    background-color: #DC4405;
 }
      }

